<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <style>
  h1{
    display: flex;
  }
    body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  /* Basic styling for the form */
  form {
      width: 50%;
      margin: 20px auto;
  }
  label {
      display: block;
      margin-bottom: 10px;
  }
  input[type="email"], input[type="password"], textarea {
      width:100%;
      padding: 7px;
      margin-bottom: 10px;
  }
  input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  input[type="submit"]:hover {
      background-color: #45a049;
  }
  .container {
      width: 40%;
      padding: 10px;
      margin-top: 10%;
      margin: 0 auto;
      border: 1px solid black ;
      
  }
  p{
      display: flex;
      justify-content: center;
      
  }
  #errror{
    display: flex;
    float: right;
    height: 10vh;
  }
  </style>
</head>
<body>
<div id="errror">
  <% if (messages.error) {%>
  <%= messages.error  %>
  <% } %>
</div> 
  <div class="container">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="Email">Email:</label>
      <input type="email" id="email" name="email" required />
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br /><br />
  
      <input type="submit" value="Submit" />
    </form>
    <p>Don't have an account?<a href="/signup">Sign Up</a></p>
  </div>
</body>
</html>

