body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
h1{
    display: flex;
    justify-content: center;
}
/* Basic styling for the form */
form {
    width: 50%;
    margin: 20px auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="password"], textarea {
    width:100%;
    padding: 7px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.container {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black ;
}
p{
    display: flex;
    justify-content: center;
    
}